<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mathew's Portfolio</title>
    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>
    <header style="background-image: url('assets/images/hero-bg.jpg');">
        <div class="hero">
            <h1>Hi, I'm Sijo Mathew</h1>
            <p>Aspiring Computer Science Engineer | Passionate about Low Code Development</p>
            <a href="#contact" class="btn">Get in Touch</a>
        </div>
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/sijo-mathew-thazhammadam/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/AppuzMathew9" target="_blank"><i class="fab fa-github"></i></a>
        </div>
    </header>
</body>
</html>